/Database/images/*.jpeg
/Database/preprocessing images/*/*.jpeg
**/diabetic-retinopathy-detection.zip

**/.idea/
**/.python-version
**/.ipynb_checkpoints/

/Database/models

**/.pytest_cache/
**/__pycache__/